.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calculator{
  width: 350px;
  margin-left: auto;
  margin-top: 150px;
  font-size: 18px;
  margin-right: auto;
}

.calculator input[type=number]{
  width: 100%;
  height: 20px;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 6px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background: rgb(246,174,45);
background: linear-gradient(48deg, rgba(246,174,45,1) 0%, rgba(233,121,8,1) 100%);
  border-radius: 4px;
  border: solid 1px rgba(233,121,8,1);
  box-sizing: border-box;
  padding: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.lbl{
  margin-top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submitbtn{
  width: 100%;
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  border: solid 1px #F26419;
  background-color: #F26419;
  border-radius: 6px;
  margin-top: 15px;
}

.submitbtn:hover{
  width: 100%;
  height: 44px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  outline: none;
  transition: ease .7s all;
  color: #fff;
  cursor: pointer;
  border: solid 1px #f57c3a;
  background-color: #f57c3a;
  border-radius: 6px;
  margin-top: 15px;
}

.snc{
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}